:host {
  display: flex;
  flex-direction: column;
}

.user-menu {
  justify-content: space-between;
  padding: 1em 2em;
  gap: 1em;
  & > * {
    flex-grow: 1;
  }
}

.transaction-list {
  padding: 0em 1em;
  overflow: auto;
}
