{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "printWidth": 80,
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "singleQuote": true
}