*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
}

:root {
  --color-peachtree-orange: #ea520a;
  --color-background-window-header: #0c8397;
  --color-line: #999999;
  --color-background-primary: #ffffff;
  --color-text-disabled: #999999;
  --color-text-secondary: #ffffff;
  --color-text-postfix: #999999;
}

html {
  background-image: url('../background.jpg');
  background-size: cover;
}

html,
body {
  width: 100%;
  height: 100%;
}
