<app-window-header 
  [icon]="'./assets/icons/arrows.png'">
  Make a Transfer
</app-window-header>
<form class="flex flex_column transfer-form" [formGroup]="transferForm">
  <label class="bold" for="from">FROM ACCOUNT</label>
  <input id="from" type="text" formControlName="from">
  <label class="bold"for="to">TO ACCOUNT</label>
  <app-form-errors [ctrl]="transferForm.get('to')" [errorMessages]="beneficiaryErrroMessages"></app-form-errors>
  <input id="to" type="text" formControlName="to" list="merchants" autocomplete="off">
  <datalist id="merchants">
    <option *ngFor="let merchant of merchants$ | async">{{merchant}}</option>
  </datalist>
  <label class="bold" for="amount">AMOUNT</label>
  <app-form-errors [ctrl]="transferForm.get('amount')" [errorMessages]="amountErrorMessages"></app-form-errors>
  <div class="amount">
    <span class="prefix">$</span>    
    <input id="amount" type="text" formControlName="amount" placeholder="0.00" autocomplete="off">
  </div>
  <div class="flex buttons">
    <ng-container *ngIf="isReview === false; else review">
      <button class="peachtree"
      [disabled]="disabled$ | async" 
      (click)="toggleState()">SUBMIT</button>  
    </ng-container>
  </div>
  <ng-template #review>
      <button class="peachtree" (click)="toggleState()">CANCEL</button>
      <button class="peachtree" (click)="transfer()">TRANSFER</button>  
  </ng-template>
</form>