.transfer-form {
  padding: 1em;

  input,
  label {
    width: 100%;
  }

  input {
    margin-bottom: 1em;
    padding: 0.5em 0em;
  }

  .amount {
    width: 100%;

    input {
      padding-left: 15px;
    }
  }

  .buttons {
    width: 100%;
    justify-content: flex-end;

    button {
      flex-basis: 10em;
    }
  }
}

.prefix {
  color: var(--color-text-disabled);
  position: absolute;
}
