<app-window-header 
  [icon]="'/assets/icons/arrows.png'">
  Make a Transfer
</app-window-header>
<div class="flex flex_column transfer-form" [formGroup]="transferForm">
  <label class="font__bold" for="from">FROM ACCOUNT</label>
  <input type="text" formControlName="from">
  <label class="font__bold"for="to">TO ACCOUNT</label>
  <input type="text" formControlName="to">
  <label class="font__bold" for="amount">AMOUNT</label>
  <div class="amount">
    <span class="prefix">$</span>    
    <input type="number" formControlName="amount">
  </div>
  <div class="flex buttons">
    <ng-container *ngIf="isReview === false; else review">
      <button class="peachtree"
      [disabled]="disabled$ | async" 
      (click)="toggleState()">SUBMIT</button>  
    </ng-container>
  </div>
  <ng-template #review>
      <button class="peachtree" (click)="toggleState()">CANCEL</button>
      <button class="peachtree" (click)="transfer()">TRANSFER</button>  
  </ng-template>
  
</div>