:host {
  height: 7em;
  border-right: 1px solid var(--color-line);
  border-bottom: 1px solid var(--color-line);

  &:first-of-type {
    border-top: 1px solid var(--color-line);
  }
}

.category {
  padding: 0;
  height: 100%;
  flex-basis: 1em;
}

.item {
  padding: 0;
  margin: 0em 1em;
}

.date {
  flex-basis: 4em;
}

.details {
  div:first-child {
    font-weight: bold;
  }
  flex-grow: 1;
}

.logo {
  width: 4em;
  height: 4em;
  img {
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(100%);
  }
}
