.container {
  font-size: 1em;
  height: 7em;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: white;
  border-bottom: 1px solid #999990;
}

.category {
  padding: 0;
  height: 100%;
  flex-basis: 1em;
}

.item {
  padding: 0;
  margin: 0em 1em;
}

.details {
  div:first-child {
    font-weight: bold;
  }
  flex-grow: 1;
}

.logo {
  width: 4em;
  height: 4em;
  img {
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(100%);
  }
}
