<div class="category" [style.background-color]="transaction?.categoryCode"></div>
  <div class="item date">{{transaction?.transactionDate | date:'MMM. dd' }}</div>
  <div class="item logo">
    <img *ngIf="transaction?.merchantLogo" [src]="transaction?.merchantLogo" alt="">
  </div>
  <div class="item details">
    <div>
      {{transaction?.merchant}}
    </div>
    <div>
      {{transaction?.transactionType}}
    </div>
  </div>
  <div class="item amount">-{{transaction.amount | currency}}</div>    


