:host {
  display: flex;
}

input {
  padding-right: 10px;
}

button {
  margin-left: -5px;
  background-color: var(--color-background-primary);
  border: none;
  border-bottom: 1px solid var(--color-line);
  color: var(--color-text-postfix);

  &.hidden {
    visibility: hidden;
  }
  &:hover {
    cursor: pointer;
  }
}
