.window-header {
  background-color: var(--color-background-window-header);
  padding: 1em;
  color: var(--color-text-secondary);
}

img {
  flex-shrink: 1;
}

.header-text {
  flex-grow: 1;
  text-align: center;
}
